* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* primary */
  --primary-main: #5e07cd;
  --primary-light: #7843e9;
  --word-color: #333;
  --title-color: #111;
  --back-ground-color: #fafafa;
  --paragraph-color: #555;

  /* icons color */
  --html-color: #e34c26;
  --css-color: #264de4;
  --java-script-color: #f1d01b;
  --react-color: #61dafb;
  --redux-color: #764abc;
  --github-color: #000000;
  --git-color: #f05539;
  --java-color: #5382a1;
  --cpp-color: #4caf50;
  --facebook-color: #4267B2;
  --linked-in-color: #0077b5;
  --gmail-color: #c72923;
  --type-script-color: #007acc;
  --recoil-color: #3578e5;
  --react-query-color: #f73f51;
  --python-color: #3776AB;
  --sql-color: #00618a;       
  --ml-color: #ff9800;        
  --dl-color: #ee4c2c;        
  --data-eng-color: #4db6ac;  
  --etl-color: #607d8b;       
  --forecasting-color: #2196f3; 
  --mlops-color: #0db7ed;     
  --fastapi-color: #009688;   
  --grafana-color: #F46800;   
  --prometheus-color: #E6522C;
  --docker-color: #2496ED;
  --mongodb-color: #47A248;
  --postgresql-color: #336791;
  --tableau-color: #E97627;
  --pandas-color: #130654;
  --numpy-color: #4DABCF;
  --scikit-color: #F7931E;
  --pytorch-color: #EE4C2C;
  --tensorflow-color: #FF6F00;
  --langchain-color: #3178C6;
  --spark-color: #E25A1C;
  --airflow-color: #017CEE;
  --dbt-color: #FF694B;
  --hdfs-color: #FF652F;
  --aws-color: #FF9900;
  --hdfs-color: #00FFFF;
  --avro-color: #A72058;
  --redshift-color: #1f77b4;
}

html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

body {
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* media */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (max-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (max-width: 1200px) {
  .container {
    width: 1170px;
  }
}